body {
    background-color: aqua;
    color: brown;
}

#mainContainer {
    border: solid 1px black;
    display: flex;
}

#DIVToDoList{
    background-color: chartreuse;

}


#h4ToDoList{
    background-color: red;

}


#DIVList{
    background-color: violet;

}


#DIVTask{
    background-color: pink;

}

#tasksDiv {
    display: flex;
}

.show {
    display: none;
}

#newProject {
    border: solid 1px red;
    max-width: 215px;
    text-align: center;
}